In [1]:
import pandas as pd
import numpy as np

In [2]:
inter=pd.read_csv('inter_sum.csv',encoding="gbk")

In [3]:
inter

,variable,root_variable,mean_min_depth,occurrences,interaction,uncond_mean_min_depth
0,AA,AA,4.812251,60,AA:AA,1.803370
1,AA,AL,3.682764,36,AL:AA,1.803370
2,AA,CD,3.218881,39,CD:AA,1.803370
3,AA,CL,3.515038,23,CL:AA,1.803370
4,AA,EW,4.248497,20,EW:AA,1.803370
...,...,...,...,...,...,...
220,ST,O,3.456873,67,O:ST,2.473011
221,ST,OT,3.616453,32,OT:ST,2.473011
222,ST,PT,3.706740,44,PT:ST,2.473011
223,ST,RU,3.068452,27,RU:ST,2.473011
224,ST,ST,2.717596,84,ST:ST,2.473011

In [4]:
def sum_list(target_list):
    sum_result=0
    for i in target_list:
        sum_result+=i
    return sum_result
def count_total_occurrence(dataframe,feature_list):
    total_occur_list=[]
    for i in feature_list:
        sum_occur=dataframe[dataframe['variable']==i]['occurrences'].sum()
        sum_occur_r=dataframe[dataframe['root_variable']==i]['occurrences'].sum()
        total_sum=sum_occur+sum_occur_r
        total_occur_list.append(total_sum)
    print(total_occur_list)
    return total_occur_list

In [5]:
f_list=['OT','FR','AA','IR','RU','O','ICA','PT','ICC','AL','CL','MT','EW','CD','ST']
a=count_total_occurrence(inter,f_list)

[859, 1497, 1802, 791, 687, 1518, 1420, 1147, 1535, 1569, 1011, 932, 738, 1303, 1813]

In [ ]:
[6545, 7085, 5242, 2369, 1962, 1647, 1980, 8018, 7099, 7859, 7046, 6988, 6334, 7421, 6140, 5684, 5899, 2602, 7402, 6060]