In [1]:
import pandas as pd
import numpy as np

In [2]:
inter=pd.read_csv('inter_sum.csv',encoding="gbk")

In [3]:
inter

,variable,root_variable,mean_min_depth,occurrences,interaction,uncond_mean_min_depth
0,AA,AA,5.127736,228,AA:AA,2.940000
1,AA,AL,4.726562,209,AL:AA,2.940000
2,AA,CL,4.423885,272,CL:AA,2.940000
3,AA,EW,4.720954,172,EW:AA,2.940000
4,AA,FR,5.127933,212,FR:AA,2.940000
...,...,...,...,...,...,...
164,RU,MT,4.592126,301,MT:RU,3.732275
165,RU,O,5.899469,134,O:RU,3.732275
166,RU,OT,4.709810,306,OT:RU,3.732275
167,RU,PT,5.620433,154,PT:RU,3.732275
168,RU,RU,6.218066,87,RU:RU,3.732275

In [4]:
def sum_list(target_list):
    sum_result=0
    for i in target_list:
        sum_result+=i
    return sum_result
def count_total_occurrence(dataframe,feature_list):
    total_occur_list=[]
    for i in feature_list:
        sum_occur=dataframe[dataframe['variable']==i]['occurrences'].sum()
        sum_occur_r=dataframe[dataframe['root_variable']==i]['occurrences'].sum()
        total_sum=sum_occur+sum_occur_r
        total_occur_list.append(total_sum)
    print(total_occur_list)
    return total_occur_list

In [5]:
f_list=['OT','FR','AA','IR','RU','O','ICA','PT','ICC','AL','CL','MT','EW']
a=count_total_occurrence(inter,f_list)

[8455, 6662, 6425, 5989, 5036, 5965, 7706, 6234, 6991, 6612, 6793, 7382, 4732]

In [ ]:
[6545, 7085, 5242, 2369, 1962, 1647, 1980, 8018, 7099, 7859, 7046, 6988, 6334, 7421, 6140, 5684, 5899, 2602, 7402, 6060]